body{
	font-family: Arial, sans-serif
	background-color: #f4f4f4;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin:0;
}

.container{
	text-align: center;
	background-color: #fff;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

input{
	width: 300px;
	padding: 10px;
	font-size: 16px;
	margin-bottom: 20px;
	border-radius: 4px;
	border: 1px solid #ccc;
}

#strength-feedback {
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0;
}

#password-suggestions{
	font-size: 14px;
	color: #888;
} 
